.info {
    max-width: 200px;
}

.info h5 {
    font-size: 1.3em;
    margin: 2em 0 0.5em 0;
    font-weight: bold;
}

.info p {
    font-size: 0.9em;
    text-align: justify;
}

.esconde {
    display: none;
}