@mixin container {
    background-color: map-get($colors, "b0");
    box-shadow: 8px 8px 8px map-get($colors, "b7");
}

@mixin rounded {
    border-radius: .25rem;
    padding: 2rem;
}

@mixin fixed {
    position: fixed;
    left: 0;
    z-index: 1;
    width: 100vw;
}